/*==============================================================================

 Mixins.

==============================================================================*/
@import "variables";
/* ------------------------
 Break Points.
-------------------------*/
isSmallMobile()
  @media (min-width: SMALL_MOBILE_WIDTH)
    {block}

isMobile()
  @media (min-width: MOBILE_WIDTH)
    {block}

isLargeMobile()
  @media (min-width: LARGE_MOBILE_WIDTH)
    {block}

isTablet()
  @media (min-width: TABLET_WIDTH)
    {block}

isDesktop()
  @media (min-width: DESKTOP_WIDTH)
    {block}

isLargeDesktop()
  @media (min-width: LARGE_DESKTOP_WIDTH)
    {block}

isCustomOrderMin(ORDER_WIDTH)
  @media screen and (min-width: ORDER_WIDTH)
    {block}
